<div class="row">
  <div class="col-md-6">
    <ul class="list-group">
    <li class="list-group-item" id="<%= item.id %>">
      <b><%= item.name %></b>
      <%= link_to "", [item.user, item], remote: true, method: :delete, class: 'glyphicon glyphicon-ok' %>
      <small>
        created <%= time_ago_in_words(item.created_at) %> ago by <%= item.user.email %>
      </small>
    </li>
  </ul>
  </div>
</div>
